appdirs
beautifulsoup4
boto3
botocore
certifi
charset-normalizer
click
colorama
Flask
Flask-Cors
frozendict
greenlet
gunicorn
html5lib
idna
itsdangerous
Jinja2
jmespath
lxml
MarkupSafe
multitasking
numpy
pandas
Pillow
python-dateutil
pytz
requests
s3transfer
six
sortedcontainers
soupsieve
SQLAlchemy
typing_extensions
tzdata
wasabi
webencodings
Werkzeug
yfinance